    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="embed-responsive embed-responsive-16by9 cross-header">
                <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/8ypkrpKnuvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <br/><br/>
              <h2>About Quick Poses</h2>
              <br/>
                <p>Quick Poses is an app to help artists train their drawing skills by simulating a real world academic life drawing session.</p>
                <p>Select your pose duration and a bunch of pose galleries and you are ready to go!</p>
                <p>With Quick Poses, you can easily train your drawing skills, especially anatomy drawing with timed croquis practice. The purpose of this exercise is to find the essence of the pose within the configured time constraint. Each time the pose duration expired, a new random pose is presented so you can try again. At the end of the session, a summary of your sketches is displayed, use it to see how good you did this time.</p>
                <p>This exercise is called gesture drawing or figure drawing and it is great to develop your skills at observing, simplifying and it is also good for warming you up before any long drawing sessions.</p>
                <br/>
              </div>
        </div>
    </section>