<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <meta name="twitter:image:src" content="{{ site.url }}/img/quickposes_share_thumb.png"/>
    <meta name="twitter:creator" content="{{ site.twitter }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ site.title }}"/>
    <meta name="twitter:description" content="{{ site.description }}"/>
    <meta property="og:image" content="{{ site.url }}/img/quickposes_share_thumb.png"/>
    <meta property="og:image:alt" content="a desk with an iPad running QuickPoses, and Apple Pencil and some drawing materials"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:description" content="{{ site.description }}"/>
    
    <meta name="apple-mobile-web-app-title" content="QuickPoses">

    <!-- generics -->
    <link rel="icon" href="/img/favicons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/img/favicons/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/img/favicons/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/img/favicons/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/img/favicons/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/img/favicons/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/img/favicons/favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="img/favicons/favicon-196.png">

    <!-- iOS -->
    <link rel="mask-icon" href="/img/icon_mask.svg" color="#000000">
    <link rel="apple-touch-icon" href="/img/favicons/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/img/favicons/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/img/favicons/favicon-180.png" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#48CADB">
    <meta name="msapplication-TileImage" content="/img/favicons/favicon-144.png">

    <!-- Windows 8.1 + IE11 and above -->
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml" />

    <title>{{ site.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-dark.css" rel="stylesheet">
    <link href="/css/bootstrap-custom.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">
    <link href="/css/testimonials.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>